@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;700&display=swap");
:root {
  --white-blue: rgba(26, 143, 221, 1);
}
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Cairo", sans-serif;
  color: rgb(20, 20, 20);
  text-align: right;
}

a {
  text-decoration: none;
  font-weight: bold;
  position: relative;
}

a:not(.phone-link):before {
  content: "";
  width: 100%;
  width: 0%;
  transition: 0.5s all ease;
  background-color: rgb(20, 20, 20);
  height: 3px;
  position: absolute;
  left: 0px;
  bottom: -10px;
}
a:hover::before {
  width: 100%;
}

button {
  padding: 10px 30px;
  color: white;
  cursor: pointer;
  background-color: var(--white-blue);
  transition: 0.3s all ease;
  border-radius: 5px;
  border: none;
  display: block;
  margin-inline: auto;
}

button:hover {
  scale: 1.1;
}

.sub-title {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

h2 {
  font-size: clamp(20px, 6vw, 35px);
  color: var(--white-blue);
  padding-bottom: 0px;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: clamp(20px, 10vw, 40px);
  display: flex;
  padding-block: 30px;
  gap: 40px;
  font-size: 20px;
  justify-content: space-between;
  flex-direction: row;
}

.container p {
  height: 100%;
}

.container:not(nav) img {
  max-width: 400px !important;
  display: block;
  width: 100%;
  min-width: 250px;
}

video {
  display: block;
  width: 90%;
  min-width: 250px;
}

.flex-reverse {
  flex-direction: row-reverse;
}

nav {
  align-items: center;
  height: 120px;
  position: relative;
  z-index: 1000;
}

.nav-links {
  display: flex;
  gap: 10px;
  font-size: 15px;
  align-items: center;
}

.phone-link {
  background-color: green;
  font-size: 20px;
  position: fixed;
  right: 20px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.3s all ease;
}
.phone-link * {
  color: white;
}
.phone-link:hover {
  scale: 1.01;
}
.menu-icon {
  display: none !important;
  cursor: pointer;
  z-index: 10000;
}

.mobile-links {
  font-size: 16px;
  display: none;
}

.special-container {
  align-items: center;
  flex-direction: column !important;
}
@media (max-width: 1137px) {
  .container:not(nav, .special-container) {
    flex-direction: column-reverse !important;
    align-items: center;
  }
  .container:not(nav) img {
    min-width: none;
    width: 90%;
  }
  .nav-links {
    display: none !important;
  }
  .active .mobile-links {
    display: flex !important;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 100;
    bottom: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  .menu-icon {
    display: block !important;
  }
  nav {
    padding-block: 0px !important;
    flex-direction: row !important;
    height: fit-content;
  }
}
:not(:root):fullscreen {
  z-index: 1000;
}

@media (max-width: 850px) {
  .sub-title {
    font-size: 15px !important;
  }
  .container p {
    font-size: 17px;
  }
}
